@font-face {
  font-family: "NerisThin";
  src: url("../FONTS/Neris-Thin.otf");
}

@font-face {
  font-family: "Katahdin";
  src: url("../FONTS/KatahdinRound.otf");
}

* {
  box-sizing: border-box;
  font-family: "NerisThin";
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

a,a:focus {
  text-decoration:none;
}
