@keyframes pop {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fullscreen-button {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffffff;
  font-size: 32px;
  background: none;
  outline: none;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: pointer;
}

.back-button {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
  color: #ffffff;
  font-size: 32px;
  background: none;
  outline: none;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: pointer;
}

.fullscreen-button:hover, .back-button:hover {
  color: #00efff;
}

.home-div-main, .apply-main-div, .list-main-div, .monitoring-main-div {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #008df2, #0a367b);
}

.home-div-picker {
  width: 750px;
  height: 300px;
  display: flex;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 150px);
}

.home-pick-single {
  width: 250px;
  height: 300px;
  padding: 10px;
  display: block;
  cursor: pointer;
}

.home-pick-single:hover .home-pick-circle {
  border: 10px solid #00efff;
}

.home-pick-single:hover .home-pick-desc {
  color: #00efff;
}

.home-pick-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  margin: 20px 30px;
  line-height: 160px;
  font-size: 80px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}

.home-pick-desc {
  height: 110px;
  width: 100%;
  line-height: 18px;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  font-family: "Katahdin";
  padding: 0px 40px;
}

.apply-form-div {
  width: 600px;
  height: 500px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 250px);
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 2px #00000020;
  padding: 10px 30px;
}

.apply-form-div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #258388,#05b6bf);
  top: -10px;
  left: 0px;
}

.apply-form-title {
  width: 100%;
  height: 80px;
  color: #4c4c4c;
  line-height: 80px;
  font-size: 36px;
  font-family: "NerisThin";
  border-bottom: 1px solid #4c4c4c;
  margin-bottom: 30px
}

.apply-form-form {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.apply-form-form p {
  width: 100%;
  height: 20px;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.apply-form-form input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #989898;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}

.apply-button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #25838720;
  background-color: #2db4bc;
  color: #ffffff;
  font-family: "Katahdin";
  margin-top: 50px;
}

.apply-phone-form {
  width: 100%;
  height: 50px;
  position: relative;
}

.apply-phone-form input {
  padding-left: 110px;
}

.apply-form-icon {
  width: 98px;
  position: absolute;
  height: 46px;
  left: 2px;
  top: 2px;
  line-height: 46px;
  font-weight: bold;
  display: flex;
  border-right: 1px solid #989898;
  background-color: #e2e2e2;
  border-radius: 8px 0px 0px 8px;
}

.apply-form-icon img {
  width: 30px;
  height: 24px;
  margin: 10px 15px;
  object-fit: contain;
  object-position: center;
}

.apply-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
}

.apply-main-faded {
  transform: scale(1.2);
  filter: blur(5px);
  transition: 0.3s all linear;
}

.apply-modal-error-div {
  width: 400px;
  height: 250px;
  background-color: #ffffff;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 125px);
  opacity: 0;
  animation: pop 0.5s forwards 0.5s;
  padding: 20px;
}

.apply-modal-error-div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #a23333,#f74242);
  top: -10px;
  left: 0px;
}

.apply-modal-error-title {
  width: 100%;
  height: 100px;
  line-height: 30px;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
}

.apply-error-description {
  text-align: center;
  padding: 10px;
  height: 60px;
}

.apply-modal-button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Katahdin";
}

.apply-error-button {
  background-color: #ff4444;
  border: 2px solid #25838720;
}

.apply-modal-error-title i {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 45px;
  color: #ff4444;
  text-align: center;
  vertical-align: middle;
}

.apply-modal-success-div {
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 150px);
  opacity: 0;
  animation: pop 0.5s forwards 0.5s;
  padding: 20px;
}

.apply-modal-success-div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #246b23,#42f748);
  top: -10px;
  left: 0px;
}

.apply-success-button {
  background-color: #4da02c;
  border: 2px solid #25838720;
}

.apply-modal-success-title i {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 45px;
  color: #4da02c;
  text-align: center;
  vertical-align: middle;
}

.apply-modal-success-title {
  width: 100%;
  height: 100px;
  line-height: 30px;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
}


.apply-success-description {
  text-align: center;
  padding: 10px;
  height: 110px;
}

.apply-success-description span {
  font-size: 46px;
  display: block;
}
