<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="vtApp">
  <head>
    <meta charset="utf-8">
    <title>VisitorTracking</title>
    <base href="/" target="_blank">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="HTML/STYLESHEETS/all.css">
    <link rel="stylesheet" href="HTML/STYLESHEETS/preset.css">
    <link rel="stylesheet" href="HTML/STYLESHEETS/style.css">

    <!-- SCRIPTS -->
    <script src="HTML/SCRIPTS/angular.js"       charset="utf-8"></script>
    <script src="HTML/SCRIPTS/angular-route.js" charset="utf-8"></script>
    <script src="HTML/SCRIPTS/app.js"           charset="utf-8"></script>
  </head>
  <body ng-controller="vtController">
    <div ng-view></div>
    <button class="back-button"       type="button" ng-click="main.goBack()" ng-if="main.currentRoute() != '/home'"><i class="fas fa-undo-alt"></i></button>
    <button class="fullscreen-button" type="button" ng-click="main.changeMode()"><i class="fas fa-desktop"></i></button>
  </body>
</html>
