<div class="apply-main-div {{(apply.error != null || apply.success != null) ? 'apply-main-faded' : ''}}">
  <div class="apply-form-div">
    <div class="apply-form-title">
      Enter your credentials:
    </div>
    <div class="apply-form-form">
      <p>Firstname:</p>
      <input type="text" ng-model="apply.firstname">
    </div>
    <div class="apply-form-form">
      <p>Lastname:</p>
      <input type="text" ng-model="apply.lastname">
    </div>
    <div class="apply-form-form">
      <p>Phone number:</p>
      <div class="apply-phone-form">
        <div class="apply-form-icon">
          <img src="HTML/IMAGES/america.png">
          <span>+1</span>
        </div>
        <input type="text" ng-model="apply.number" ng-change="apply.filterInput()">
      </div>
    </div>
    <button type="button" class="apply-button" ng-click="apply.process()">Apply</button>
  </div>
</div>
<div class="apply-modal" ng-if="apply.error != null">
  <div class="apply-modal-error-div">
    <div class="apply-modal-error-title">
      <i class="fas fa-times-circle"></i>
      Error
    </div>
    <div class="apply-error-description">
      {{apply.error.status}} - {{apply.error.statusText}}
    </div>
    <button class="apply-modal-button apply-error-button" type="button" ng-click="apply.removeError()">Okay</button>
  </div>
</div>

<div class="apply-modal" ng-if="apply.success != null">
  <div class="apply-modal-success-div">
    <div class="apply-modal-success-title">
      <i class="fas fa-check-circle"></i>
      At {{apply.success.time}}
    </div>
    <div class="apply-success-description">
      Your number is:
      <span>{{apply.success.number}}</span>
    </div>
    <button class="apply-modal-button apply-success-button" type="button" ng-click="apply.removeSuccess()">Okay</button>
  </div>
</div>
