<div class="home-div-main">
  <div class="home-div-picker">
    <a class="home-pick-single" href="/apply">
      <div class="home-pick-circle">
        <i class="fas fa-sign-in-alt"></i>
      </div>
      <div class="home-pick-desc">
        Register for<br>a visit
      </div>
    </a>
    <a class="home-pick-single" href="/list">
      <div class="home-pick-circle">
        <i class="fas fa-list-ol"></i>
      </div>
      <div class="home-pick-desc">
        Check current<br>positions
      </div>
    </a>
    <a class="home-pick-single" href="/monitoring">
      <div class="home-pick-circle">
        <i class="fas fa-user-shield"></i>
      </div>
      <div class="home-pick-desc">
        Go to admin<br>panel
      </div>
    </a>
  </div>
</div>
